 <!-- WHAT WE DO SECTION START -->
 <div class="section-full p-t80 p-b50 bg-white">
    <div class="container">
        <!-- TITLE START -->
        <div class="section-head text-center">
            <div class="wt-separator-outer separator-center">
                <div class="wt-separator">
                    <span class="text-primary text-uppercase sep-line-one ">what you prefer</span>
                </div>
            </div>
            <h2>What we do</h2>
        </div>
        <!-- TITLE END -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                    <div class="hover-box-effect  v-icon-effect">
                        <div class="wt-icon-box-wraper center p-lr30  p-b50 p-t50 bg-gray">
                            <div class="icon-lg text-primary m-b25">
                                <span class="icon-cell text-primary"><i class="v-icon flaticon-sketch"></i></span>
                            </div>
                            <div class="icon-content text-black">
                                <h4 class="wt-tilte m-b25">Planning</h4>
                                <p>Lorem ipsum dolor sit amet, iusto quando  vocibus te vim no mea.</p>
                            </div>
                        </div>
                        
                    </div>
                </div>                          
                <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                    <div class="hover-box-effect v-icon-effect">
                        <div class="wt-icon-box-wraper center p-lr30  p-b50 p-t50  bg-gray">
                            <div class="icon-lg text-primary m-b25">
                                <span class="icon-cell text-primary"><i class="v-icon flaticon-window"></i></span>
                            </div>
                            <div class="icon-content text-black">
                                <h4 class="wt-tilte m-b25">interior</h4>
                                <p>Lorem ipsum dolor sit amet, iusto quando  vocibus te vim no mea.</p>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                    <div class="hover-box-effect v-icon-effect">
                        <div class="wt-icon-box-wraper center p-lr30  p-b50 p-t50  bg-gray">
                            <div class="icon-lg text-primary m-b25">
                                <span class="icon-cell text-primary"><i class="v-icon flaticon-window-5"></i></span>
                            </div>
                            <div class="icon-content text-black">
                                <h4 class="wt-tilte m-b25">Exterior</h4>
                                <p>Lorem ipsum dolor sit amet, iusto quando  vocibus te vim no mea.</p>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                    <div class="hover-box-effect v-icon-effect">
                        <div class="wt-icon-box-wraper center p-lr30  p-b50 p-t50 bg-gray">
                            <div class="icon-lg text-primary m-b25">
                                <span class="icon-cell text-primary"><i class="v-icon flaticon-plant"></i></span>
                            </div>
                            <div class="icon-content text-black">
                                <h4 class="wt-tilte m-b25">Decoration</h4>
                                <p>Lorem ipsum dolor sit amet, iusto quando  vocibus te vim no mea.</p>
                            </div>
                        </div>
                        
                     </div>
                </div>                          
                <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                    <div class="hover-box-effect v-icon-effect">
                        <div class="wt-icon-box-wraper center p-lr30  p-b50 p-t50  bg-gray">
                            <div class="icon-lg text-primary m-b25">
                                <span class="icon-cell text-primary"><i class="v-icon flaticon-sofa"></i></span>
                            </div>
                            <div class="icon-content text-black">
                                <h4 class="wt-tilte m-b25">Furniture</h4>
                                <p>Lorem ipsum dolor sit amet, iusto quando  vocibus te vim no mea.</p>
                               
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                     <div class="hover-box-effect v-icon-effect">
                        <div class="wt-icon-box-wraper center p-lr30  p-b50 p-t50  bg-gray">
                            <div class="icon-lg text-primary m-b25">
                                <span class="icon-cell text-primary"><i class="v-icon flaticon-review "></i></span>
                            </div>
                            <div class="icon-content text-black">
                                <h4 class="wt-tilte m-b25">Exclusively</h4>
                                <p>Lorem ipsum dolor sit amet, iusto quando  vocibus te vim no mea.</p>
                               
                            </div>
                        </div>
                        
                     </div>
                </div>
            </div>                                
        </div>
    </div>  
</div>   
<!-- WHAT WE DO  SECTION END --> 