  <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center"  style="background-image:url(./../../assets/images/banner/1.jpg);">
            	<div class="overlay-main bg-black opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="text-white">About Us</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="javascript:void(0);">Home</a></li>
                                    <li>About</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->
             
            <!-- WELCOME SECTION START -->
            <div class="section-full p-tb80 bg-white">
                <div class="container">
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-7 col-sm-12">
                                <div class="welcome-carousel-outer m-b60">
                                    <div class="welcome-bg-block clearfix">
                                        <div class="welcome-carousel-1 ">
                                            <div class="owl-carousel home-carousel-1 owl-btn-bottom-left">
                                                <!-- COLUMNS 1 -->
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);"><img src="./../../assets/images/welcome-slider/1.jpg" alt=""></a>
                                                    </div>
                                                </div>
                                                <!-- COLUMNS 2 -->
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);"><img src="./../../assets/images/welcome-slider/2.jpg" alt=""></a>
                                                    </div>
                                                </div>
                                                <!-- COLUMNS 3 -->
                                                <div class="item">
                                                    <div class="owl-img">
                                                        <a href="javascript:void(0);"><img src="./../../assets/images/welcome-slider/3.jpg" alt=""></a>
                                                    </div>
                                                </div>
                                                <!-- COLUMNS 4 -->
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);"><img src="./../../assets/images/welcome-slider/4.jpg" alt=""></a>
                                                    </div>
                                                </div>
                                                <!-- COLUMNS 5 -->
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);"><img src="./../../assets/images/welcome-slider/5.jpg" alt=""></a>
                                                    </div>
                                                </div>
                                           </div>
                                        </div>                                 
                                   </div>
                               </div>
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <!-- TITLE START -->
                                <div class="section-head">
                                    <div class="wt-separator-outer separator-left">
                                        <div class="wt-separator">
                                            <span class="text-primary text-uppercase sep-line-one ">About RS Interiors</span>
                                        </div>
                                    </div>
                                    <h2>Who We Are  <br>& What We Do ?</h2>
                                </div>
                                <!-- TITLE END -->                            
                                <p>Combined with our experience and expertise, the
                                     ideas and aspirations for first-time homebuyers
                                      get transformed into their dream home. And we
                                       deliver these dream home interiors in a personalised,
                                        pocket-friendly and predictable manner;
                                         we make home interiors easy. Above all is our promise
                                          to our customers. </p>
                                <p>
                                    we are building the most trusted
                                     & customer-centric home interiors brand.
                                      Handling the whole gamut — design, delivery,
                                       installation service,
                                        We ensures to drive three objectives — transparency, convenience and predictability.
                                         With us, what you see is really what you get.
                                        and we are just getting started.

                                </p>
                            </div>                            
                        </div>
                        
                    </div>
                </div>
            </div>  
            <!-- WELCOME  SECTION END --> 
            
            <!-- OUR TEAM START -->
            <div class="section-full small-device p-t80 p-b50 bg-white">
				<div class="container">
                

                    <!-- TITLE START -->
                    <div class="section-head text-center">
                        <div class="wt-separator-outer separator-center">
                            <div class="wt-separator">
                                <span class="text-primary text-uppercase sep-line-one ">Our Best Team</span>
                            </div>
                        </div>
                        <h2>Our Team</h2>
                    </div>
                    <!-- TITLE END --> 
                   
     
                    <!-- IMAGE CAROUSEL START -->
                    <div class="row">
                        	<div class="col-md-4 col-sm-4 m-b30">
                            	<div class="our-team-one">
                                      <div class="team-bg">
                                          <h4>Jack Semper</h4>
                                      </div>
                                       <div class="team-img">
                                      		<img src="./../../assets/images/our-team5/pic1.jpg" alt="" />
                                        	<ul class="list-unstyled">
                                                <li><a href="javascript:void(0);" class="fa fa-google"></a></li>
                                                <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                                <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                                <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                            </ul>
                                       </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 m-b30">
                            	<div class="our-team-one">
                                      <div class="team-bg">
                                        <h4>Philip Wilson</h4>
                                      </div>
                                       <div class="team-img">
                                      		<img src="./../../assets/images/our-team5/pic2.jpg" alt="" />
                                        	<ul class="list-unstyled">
                                            <li><a href="javascript:void(0);" class="fa fa-google"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        </ul>
                                       </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 m-b30">
                            	<div class="our-team-one">
                                      <div class="team-bg">
                                        <h4>Amanda Rich</h4>
                                      </div>
                                       <div class="team-img">
                                      		<img src="./../../assets/images/our-team5/pic3.jpg" alt="" />
                                        	<ul class="list-unstyled">
                                            <li><a href="javascript:void(0);" class="fa fa-google"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        </ul>
                                       </div>
                                </div>
                            </div>
                            
                        </div>
                </div>
                
             </div>   
            <!-- OUR TEAM END -->
                        
            <!-- WHAT WE DO SECTION START -->
            <app-what-we-do></app-what-we-do>>
            <!-- WHAT WE DO  SECTION END --> 
                                  
            <!-- TESTIMONIAL SECTION START -->
            <div class="section-full small-device  p-t80 p-b80 bg-white bg-repeat"
            style="background-image:url(./../../assets/images/background/ptn-1.png)">
            <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-7 m-b30">
                            <div class="owl-carousel testimonial-home owl-btn-top-right">
                                <div class="item">
                                    <div class="testimonial-5">

                                        <div class="testimonial-text">
                                            <div class="testimonial-paragraph">
                                                <span class="fa fa-quote-left text-primary"></span>
                                                <p>There are many variations of passages of Lorem Ipsum available,
                                                    but the majority have suffered alteration in some form, by
                                                    injected humour, or rand omised words which don't look even
                                                    slightly believable.</p>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <div class="testimonial-detail clearfix">
                                                <strong class="testimonial-name text-black">R.Lohitha Reddy</strong>
                                                <span class="testimonial-position p-t5"></span>
                                            </div>
                                            <div class="testimonial-pic-block">
                                                <div class="testimonial-pic">
                                                    <img src="./../../assets/images/testimonials/pic1.jpeg"
                                                        width="132" height="132" alt="">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-5">

                                        <div class="testimonial-text">
                                            <div class="testimonial-paragraph">
                                                <span class="fa fa-quote-left text-primary"></span>
                                                <p>There are many variations of passages of Lorem Ipsum available,
                                                    but the majority have suffered alteration in some form, by
                                                    injected humour, or rand omised words which don't look even
                                                    slightly believable.</p>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <div class="testimonial-detail clearfix">
                                                <strong class="testimonial-name text-black">R. Mohitha Reddy</strong>
                                                <span class="testimonial-position p-t5"></span>
                                            </div>
                                            <div class="testimonial-pic-block">
                                                <div class="testimonial-pic">
                                                    <img src="./../../assets/images/testimonials/pic2.jpeg"
                                                        width="132" height="132" alt="">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="counter-section-one">
                                
                            
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- TESTIMONIAL SECTION END -->  
                        
                        
            
        </div>
        <!-- CONTENT END -->
        
         
       
		
        
