<header class="site-header header-style-1  nav-wide">
    <div class="sticky-header main-bar-wraper">
        <div class="main-bar bg-white">
            <div class="container header-center">
                <div class="wt-header-left">
                    <div class="logo-header">
                        <div class="logo-header-inner logo-header-one">
                            <a href="#">
                                <img src="./../../assets/images/logo-dark.png" width="80" height="09" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="wt-header-center"> 
                    <!-- NAV Toggle Button -->
                    <button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>                        
                    <!-- MAIN Vav -->
                    <div class="header-nav navbar-collapse collapse nav-dark">
                        <ul class=" nav navbar-nav nav-line-animation">
                            <li class="{{ router.url == '/home' ? 'active' : '' }}">
                                <a href="/home" >Home</a>
                              <!--  <ul class="sub-menu">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                    <li><a href="index-4.html">Home 4</a></li>                                            
                                </ul>-->
                            </li>
                            <li class="{{ router.url == '/about' ? 'active' : '' }}">
                                <a href="/about">About us</a>
                            </li>
                            <!--<li>
                                <a href="javascript:;" >Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="news-grid.html">Grid</a></li>
                                    <li><a href="news-listing.html">Listing</a></li>
                                    <li><a href="news-masonry.html">Masonry</a></li>
                                </ul>
                            </li>-->
                            <li class="{{ router.url == '/works' ? 'active' : '' }}">
                                <a href="/works" >Works</a>

                            </li>
                            <!--<li>
                                <a href="javascript:;" >Blog detail</a>
                                <ul class="sub-menu">
                                    <li><a href="post-gallery.html">Gallery</a></li>
                                    <li><a href="post-right-sidebar.html">Right Sidebar</a></li>                                        
                                </ul>                                    
                            </li>-->
                            <li class="{{ router.url == '/contact' ? 'active' : '' }}">
                                <a href="/contact">Contact us</a>
                            </li>                               
                        </ul>
                    </div>
                </div>
                <div class="wt-header-right ">
                    <div class="bg-primary wt-header-right-child">                              
                        <!-- ETRA Nav -->
                        <a href="tel:+919866121744" class="call-to-us">
                            <div class="call-to-us__label">Call Us</div>
                          </a>

                        <div class="extra-nav">
                            <div class="extra-cell">
                                <div class="right-arrow-btn">
                                    <button type="button" class="btn-open contact-slide-show text-white notification-animate"><i class="fa fa-angle-left"></i></button>
                                </div>                                         
                            </div>
                         </div>
                     </div>                                 
               </div>  
                <!-- Contact Nav -->                            
                <div class="contact-slide-hide"> 
                    <div class="contact-nav">
                         <a href="javascript:void(0)" class="contact_close">&times;</a>
                         <div class="contact-nav-form p-a30">
                            <form class="cons-contact-form" method="post" action="http://thewebmax.com/intoriza/form-handler.php">
                                <div class="m-b30">
                                    <!-- TITLE START -->
                                    <div class="section-head text-left">
                                        <h4 class="m-b5">Get In Touch</h4>
                                    </div>
                                    <!-- TITLE END --> 
                                    <div class="input input-animate">
                                        <label for="name">Name</label>
                                        <input type="text" name="username"  id="name" required>
                                        <span class="spin"></span>
                                    </div>
                                    <div class="input input-animate">
                                        <label for="email">Email</label>
                                        <input type="email" name="email"   id="email" required>
                                        <span class="spin"></span>
                                    </div>                                            
                                    <div class="input input-animate">
                                        <label for="message">Textarea</label>
                                        <textarea name="message"  id="message" required></textarea>
                                        <span class="spin"></span>
                                    </div>
                                    <div class="text-right">
                                        <button name="submit" type="submit" value="Submit" class="btn-half site-button m-b15">
                                              <span>Submit</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="contact-info text-black m-b30">
                                <!-- TITLE START -->
                                <div class="section-head text-left">
                                    <h4 class="m-b5">Contact Info</h4>
                                </div>
                                <!-- TITLE END --> 
                                <div class="wt-icon-box-wraper left p-b40 icon-shake-outer">
                                    <div class="icon-xs"><i class="flaticon-smartphone  icon-shake"></i></div>
                                    <div class="icon-content">
                                        <h5 class="m-t0 font-weight-500">Phone number</h5>
                                        <p>(456) 789 10 12</p>
                                    </div>
                                </div>
                                <div class="wt-icon-box-wraper left p-b40 icon-shake-outer">
                                    <div class="icon-xs"><i class="flaticon-email  icon-shake"></i></div>
                                    <div class="icon-content">
                                        <h5 class="m-t0 font-weight-500">Email address</h5>
                                        <p>demo@gmail.com</p>
                                    </div>
                                </div>
                                <div class="wt-icon-box-wraper left icon-shake-outer">
                                    <div class="icon-xs"><i class="flaticon-placeholder  icon-shake"></i></div>
                                    <div class="icon-content">
                                        <h5 class="m-t0 font-weight-500">Address info</h5>
                                        <p>55/11 Land Street, Modern New Yourk City, USA</p>
                                    </div>
                                </div>
                            </div>                                        
                         </div>
                    </div> 
                </div>       
                 <!-- Search popup -->
                <div id="search"> 
                    <span class="close"></span>
                    <form role="search" id="searchform" action="http://thewebmax.com/search" method="get" class="radius-xl">
                        <div class="input-group">
                            <input value="" name="q" type="search" placeholder="Type to search"/>
                            <span class="input-group-btn"><button type="button" class="search-btn"><i class="fa fa-search"></i></button></span>
                        </div>   
                    </form>
                </div>

                <div class="test-slide-hide"> 
                    <div class="test-nav">
                         <a href="javascript:void(0)" class="test_close">&times;</a>
                         <div class="test-nav-form p-a30">
                            <div class="cons-contact-form">
                                <div class="m-b30">
                                    <!-- TITLE START -->
                                    <div class="section-head text-left">
                                        <h4 class="m-b5">Get Quote</h4>
                                    </div>
                                    <!-- TITLE END --> 
                                    <div class="floor-plan" >
                                        <label for="name">Your Floor Plan</label><br>
                                        <button id="btn1" class="btn btn-primary bhk" (click)="addBhk(1)" [disabled]="btnStatus1">1 BHK</button>
                                        <button id="btn2" class="btn btn-primary bhk" (click)="addBhk(2)" [disabled]="btnStatus2">2 BHK</button>
                                        <button id="btn3" class="btn btn-primary bhk" (click)="addBhk(3)" [disabled]="btnStatus3">3 BHK</button>
                                        <span class="spin"></span>
                                    </div>
                                    <div class="floor-area">
                                        <label for="email">Built-up area</label>
                                        <input class="sqft" type="text" name="area"  id="area" placeholder="sq.ft" >
                                        <span class="spin"></span>
                                    </div>                                            
                                    <div class="floor-area">
                                        <label for="message">Type </label>
                                        <button id="newh" class="btn btn-primary type" (click)="addHomeType('new')" [disabled]="btnTypeStatus1">Newly Constructed</button>
                                        <button id="revh" class="btn btn-primary type" (click)="addHomeType('renovate')"[disabled]="btnTypeStatus2">Renovate</button>
                                        <span class="spin"></span>
                                    </div>
                                    <div class="text-right">
                                        <button class="btn-half site-button m-b15" (click)="sendQuote()">
                                              <span>Get Quote</span>
                                        </button>
                                    </div>
                                </div>
                            </div>                                      
                         </div>
                    </div> 
                </div>  

            </div>
        </div>
    </div>
</header>