<div class="common-content">
    <h4><strong>INTRODUCTION</strong></h4>
    <p>The&nbsp;<a href="https://www.rs-interior.com/">RS INTERIORS</a>&nbsp;and any
        sub-site&nbsp;(“<strong>Website</strong>”) is made available by Chai With Code (hereinafter
        referred to as “<strong>our</strong>”, “<strong>us</strong>”, “<strong>we</strong>”, “<strong>Company</strong>”
        “<strong>our affiliates</strong>”, or “<strong>our assignees</strong>”), having a online services located at Hyderabad. The
        manner in which this data and information is collected, retained, shared, stored, and processed by us (i.e., the
        developers) is addressed in this Privacy Policy (“<strong>Policy</strong>”). This Policy applies to all information
        collected through our Website, sales, or marketing. When you access the Website and/or use
        our services, you trust us with your personal information. We take your privacy very seriously. In order to
        provide you with the services, we (i.e., the Company) need to collect various data and information from you. We
        hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy
        policy that you do not agree with, please discontinue use of our Website and/or our services. You shall not
        assign or transfer any right or obligation that has accrued to you under this Policy and any attempt by you to
        assign or transfer such rights and obligations, shall be null and void. We may assign, novate, or transfer any
        or all rights and obligations that accrued in our favour under the Policy, at our sole discretion, to our
        subsidiaries, affiliated entities, or any other third party. Please read this Policy carefully as it will help
        you make informed decisions about sharing your personal information with us. &nbsp;</p>
    <h4><strong>AGE OF CONSENT</strong></h4>
    <p>Our Website and/or services are not directed to, and we do not knowingly collect personal information from, any
        minor person or persons under the age of 18 (as per applicable law). If you are a minor or under 18 years of age
        and have entered this Website and/or services, you must immediately stop accessing or using the Website and/or
        services. Under no circumstances may you use this Website and/or services or submit personal information to us
        if you are a minor or under 18 years of age. We are committed to compliance with all applicable regulations,
        laws, and rules. &nbsp;</p>
    <h4><strong>TYPES OF INFORMATION WE COLLECT</strong></h4>
    <p>By accessing or using the Website and/or the services, you consent to providing us data in the ways listed below.
        However, we will not collect certain data, which we regard as sensitive in nature without your explicit consent.
        We collect the data that is essential for us to provide you services in the best manner possible.
        <strong>Personal information you disclose to us</strong>: We collect personal information that you voluntarily
        provide to us when expressing an interest in obtaining information about us or services and products listed on
        the Website, when participating in activities on the Website or otherwise contacting us. We collect:</p>
    <ul>
        <li>Name and Contact Data.&nbsp;We collect your first and last name, email address, postal address, phone
            number, and other similar contact data.</li>
        <li>Geolocation data. We may collect your location data from you via our or third party applications that may be
            notified from time to time.</li>
    </ul>
    <p>All personal information that you provide to us must be true, complete and accurate, and you must notify us of
        any changes to such personal information. If you provide data of another person, we assume that you have
        properly obtained the consent subject to applicable law of that person for the provision of his/her personal
        data. <strong>Feedback and Other Data</strong>: Any feedback data, information or suggestion that you may
        provide us. <strong>Information Automatically Collected</strong>: We also automatically collect information
        about you and any computer or device you use to access the service. Some of the information we collect, and ways
        we collect it, include:</p>
    <ul>
        <li>Cookies: When you visit the Website and/or use any service, we may send one or more cookies — small text
            files containing a string of alphanumeric characters — to your computer or device that allows us to uniquely
            identify your browser, computer, or device. This may also include information such as your Internet Protocol
            (“<strong>IP</strong>”) address, unique device identifiers, your browser settings and specifications, and
            information about how you use the Website and/or services (e.g., the pages you view, the links you click,
            how frequently you access the website and/or services, and other actions you take on the Website and/or
            services over a period of time).</li>
        <li>Log Files: We may record log file information each time you access or use the Website and/or services. This
            information may include information such as your web request, IP address, browser type, unique device
            identifiers, information about your device, referring or exit pages and URLs, number of clicks and how you
            interact with links on the Website and/or services, domain names, landing pages, pages viewed, and other
            such information.</li>
       
    </ul>
    <p>We do not collect any special categories of personal data (sensitive personal information) via our Website.
        Sensitive personal information includes: information revealing racial or ethnic origin; political opinions;
        religious or philosophical beliefs; trade-union membership; the processing of genetic or biometric data for the
        purpose of uniquely identifying a natural person; information concerning health; information concerning a
        natural person’s sex life or sexual orientation; and in some cases, social security numbers or financial
        information. 
        While we have appropriate agreements in place with these third parties, we do not accept any liabilities that
        may arise from our use of/reliance on such third-party services. &nbsp; <strong>USE OF INFORMATION
            COLLECTED</strong> We use personal information collected via our Websites for a variety of business purposes
        described below. We use the information we collect or receive:</p>
    <ul>
        <li>To provide services in the best possible manner.</li>
        <li>Perform internal operations necessary to provide our services.</li>
        <li>To communicate with you and respond to your requests, such as to respond to your questions, contact you
            about changes to the services, and about new products and services.</li>
        <li>To provide customer support, including to resolve your concerns from the use of the Website and/or services.
        </li>
        <li>To send you marketing and promotional communications.</li>
        <li>Request Feedback.</li>
        <li>To enforce this Policy, and otherwise to carry out our obligations and enforce our rights in relation under
            this Policy and Terms of Use that may be notified by us from time to time.</li>
        <li>To investigate or address claims or disputes relating to use of our services, or as otherwise allowed by
            applicable law, or as requested by regulators, government entities, and official inquiries.</li>
        <li>Trying to protect against or prevent actual or potential fraud or unauthorized transactions or investigating
            fraud which has already taken place.</li>
        <li>For any other lawful purpose, or other purpose that you consent to.</li>
    </ul>
    <h4><strong>RETENTION OF INFORMATION</strong></h4>
    <p>We will only keep your personal information for as long as it is necessary for the purposes set out in this
        Policy, unless a longer retention period is required or permitted by law (such as tax, accounting or other legal
        requirements). When we have no ongoing legitimate business need to process your personal information, we will
        either delete or anonymize it, or, if this is not possible (for example, because your personal information has
        been stored in backup archives), then we will securely store your personal information and isolate it from any
        further processing until deletion is possible. If you wish that we no longer use your information to provide you
        services, contact us at help@rsinteriorskavali.com and we will respond to your request to access or delete your
        information within 30 (thirty) days of receipt of such request. In addition, some types of information may be
        stored for an infinite duration due to legal requirements or technical constraints, and will, if practical, be
        blocked from further processing for purposes which are not mandatory by law or when a consent is withdrawn. The
        information that you provide may be stored or transferred in our systems or on the systems provided by our third
        parties. <strong>&nbsp;</strong></p>
    <h4><strong>COMMITMENT TO DATA SECURITY</strong></h4>
    <p>We strive to keep your personal information secure and take reasonable effort to ensure that appropriate security
        and technical controls are implemented to ensure data security. However, please note that no method of
        transmission over the Internet, or method of electronic storage, is&nbsp;100%&nbsp;secure. While we take into
        account the sensitivity of the personal information we collect, process and store, and the current state of
        technology to use these measures protect your personal information, we cannot guarantee its absolute
        security.&nbsp; We use appropriate technical and organizational security measures to ensure a level of
        protection for personal data appropriate to the nature, scope and purpose of processing personal data, the risks
        associated with such processing, and the likelihood and severity of the harm that may result from such
        processing. You as the user of the Website are responsible for maintaining the security of any password, user
        ID, or other form of authentication involved in obtaining access to password protected or secure areas of the
        Website. Unauthorized access to such areas is prohibited and may lead to legal consequences. We also do not
        guarantee that personal data will be completely protected. Any transmission of personal data by you is at your
        own risk. We are not responsible for circumvention of any privacy settings or security measures contained on the
        Website, including through the illegal acts of third parties. &nbsp;</p>
    <h4><strong>SHARING OF INFORMATION</strong></h4>
    
    <ul>
        <li>We will not be sharing any of your information to third parties or anyone outside.We will be keeping it secure with us.</li>
        
    </ul>
    <h4><strong>RIGHT OF RECTIFICATION OR OBJECTION</strong></h4>
    <p>You have the right to ask us to rectify any inaccurate personal information concerning you. You may request to
        review, correct, update, suppress or object to the use or processing of your personal information that’s
        collected through Website. You may review, update, correct or delete your personal information collected through
        the Websites and/or services by e-mailing us at help@rsinteriorskavali.com. In your request, please make clear
        what personal information you would like to have changed, whether you would like to have your personal
        information that you have provided to us suppressed from our database or otherwise let us know what limitations
        you would like to put on our use of your personal information that you have provided to us. We may need to
        verify your identity, before processing your request. While we endeavour to handle all requests quickly, however
        in certain cases depending on the nature of the problem and appropriate next steps, we may take upto 30 (thirty)
        days. You also have the right to erase your personal information. You also have a right to object to us
        processing your personal information in certain circumstances. However, such a right to object may not exist in
        certain situations, for e.g. if the processing of your personal information is necessary (as applicable) to
        fulfil your orders, to take steps prior to entering into a contract, to perform a contract already concluded, or
        if the personal information is relevant to a legal dispute or complying with applicable law. In such cases, we
        may not stop processing your personal information. You also have the right to lodge a complaint under applicable
        law for an alleged privacy breach. Please note that We may need to retain certain information for recordkeeping
        purposes and/or to complete any transactions that you began prior to requesting a change or deletion. There may
        also be residual information that will remain within our databases and other records, which will not be removed.
        In addition, there may be certain information to which we are unable to enable you to review, for legal,
        security, or other reasons. &nbsp;</p>
    
    <h4><strong>CHANGES TO THIS PRIVACY POLICY</strong></h4>
    <p>We may update this Policy from time to time. Your continued access of the Website and/or use of our services
        after an update constitutes consent to the updated notice to the extent permitted by law. Please periodically
        review this Policy for the latest information on our privacy practices. &nbsp;</p>
    <h4><strong>COMMUNICATIONS</strong></h4>
    <p>We may from time to time send you service-related announcements when we consider it necessary to do so (such as
        when we temporarily suspend the Website and/or services for maintenance, or security, privacy, or
        administrative-related communications). We send these to you via SMS/push notifications/email/instant messaging,
        as we deem fit. <strong>&nbsp;</strong></p>
    <h4><strong>QUESTIONS AND CONTACT INFORMATION</strong></h4>
    <p>If you would like to: access, correct, amend or delete any personal information we have about you, register a
        request, or simply want more information contact us at happiness@designcafe.com. &nbsp;</p>
    <h4><strong>DISPUTE RESOLUTION</strong></h4>
    <p>Any dispute, controversy or claim directly or indirectly caused by, arising out of or relating to this Policy
        will be governed by the laws of India and will be referred to confidential, mandatory and binding arbitration in
        Bengaluru, India. The arbitration will be conducted in accordance with the provisions of the Indian Arbitration
        and Conciliation Act, 1996. The arbitrator’s award shall be substantiated in writing and will be final and
        binding on you and us. Subject to the above, you agree to submit yourself to the exclusive jurisdiction of the
        Courts in Bengaluru, India.</p>
</div>