
        <div class="page-content">

            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(./../../assets/images/banner/4.jpg);">
                <div class="overlay-main bg-black opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                        <div class="banner-title-outer">
                            <div class="banner-title-name">
                                <h2 class="text-white">Contact Us</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->

                        <div>
                            <ul class="wt-breadcrumb breadcrumb-style-2">
                                <li><a href="javascript:void(0);">Home</a></li>
                                <li>Contact Us</li>
                            </ul>
                        </div>

                        <!-- BREADCRUMB ROW END -->
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->

            <!-- SECTION CONTENTG START -->
            <div class="section-full small-device  p-tb80">
                <!-- LOCATION BLOCK-->
                <div class="container">
                    <div class="gmap-outline m-b80">
                        <!--<div id="gmap_canvas2" class="google-map"></div>-->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15421.499123156562!2d79.98315080000233!3d14.916198918284627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4b7bf2929783d3%3A0xb0451dc27063d26d!2sKavali!5e0!3m2!1sen!2sin!4v1607427442168!5m2!1sen!2sin" width="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>

                <div class="section-content m-b50">
                    <div class="container">

                        <!-- TITLE START -->
                        <div class="section-head text-center">
                            <div class="wt-separator-outer separator-center">
                                <div class="wt-separator">
                                    <span class="text-primary text-uppercase sep-line-one ">Trust and recommend</span>
                                </div>
                            </div>
                            <h2>Contact Us</h2>
                        </div>
                        <!-- TITLE END -->
                        <div class="row">
                            <div class="col-md-4 col-sm-12 m-b30">
                                <div class="wt-icon-box-wraper center p-lr30 p-tb50 bdr-1 bdr-gray">
                                    <div class="icon-md m-b10"><i class="flaticon-smartphone"></i></div>
                                    <div class="icon-content">
                                        <h4>Phone number</h4>
                                        <h5>+91 9866121744</h5>
                                        <h5>+91 7093793010</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 m-b30">
                                <div class="wt-icon-box-wraper center p-lr30 p-tb50  block-shadow">
                                    <div class="icon-md  m-b10"><i class="flaticon-email"></i></div>
                                    <div class="icon-content">
                                        <h4>Email address</h4>
                                        <h5>rsinteriors309@gmail.com</h5>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 m-b30">
                                <div class="wt-icon-box-wraper center p-lr30 p-tb50">
                                    <div class="icon-md	 m-b10"><i class="flaticon-placeholder"></i></div>
                                    <div class="icon-content">
                                        <h4>Address info</h4>
                                        <h5>Kavali</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- GOOGLE MAP & CONTACT FORM -->
                <div class="section-content overlay-wraper ">
                    <div class="container">
                        <!-- TITLE START -->
                        <div class="section-head text-center">
                            <div class="wt-separator-outer separator-center">
                                <div class="wt-separator">
                                    <span class="text-primary text-uppercase sep-line-one ">Contact Form</span>
                                </div>
                            </div>
                            <h2>Get In Touch</h2>
                        </div>
                        <!-- TITLE END -->
                        <form class="contact-form cons-contact-form" #saveForm="ngForm" (ngSubmit)="saveDetails()">
                            <div class="contact-one">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control"
                                                placeholder="Name"  name="name" [(ngModel)]="name" id="name" required>
                                            <span class="spin"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input  type="text" class="form-control" required
                                                placeholder="Email" name="email" [(ngModel)]="email" id="email" required>
                                            <span class="spin"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea  rows="4" class="form-control " name="text"
                                             [(ngModel)]="text" id="message" required
                                                placeholder="Message"></textarea>
                                            <span class="spin"></span>
                                        </div>
                                    </div>
                                    <div class="text-left col-md-12">
                                        <button name="submit" type="submit" value="Submit"
                                            class="site-button site-btn-effect">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- SECTION CONTENT END -->

            </div>
            <!-- CONTENT END -->
        </div>



  
   