<div class="logoutContainer">
  <div class="logout">
    <button (click)="signOut()" class="btn btn-primary">Logout</button>
  </div>
</div>


<div class="wrapper">
  <header>
    <h1>Project Photos</h1>
    <span>Upload</span>
  </header>
  
  <div class="ways">
    <ul>
      <li class="active">
        submit
      </li>
    </ul>
  </div>
  
  <div class="sections">
    
    
    <section class="active">
      <input type="text" placeholder="Title" id="title"/>
      
      
      <a class="fileUpload" (click)="fileUpload.click()" >
        <div class="images">
          <div class="pic">
            <label>
              <input type="file" (change)="save($event)"  multiple="multiple" style="display:none" #fileUpload>
              Add
          </label>
          </div>
        </div>

      </a>
      
      
      
    </section>

  </div>
  
  <footer>
 <button (click)="savemsgReload()" class="btn btn-primary"><span id="send">Upload</span></button>
   
  </footer> 
  
</div>
<div class="notification"></div>


<!--
<ul>
  <h1>Images are:</h1>
  <li  *ngFor="let image of images; let i = index">
    <img src="{{image.imageUrl}}">
  </li>
</ul>-->




