<div class="section-full p-tb80 bg-white">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <div class="welcome-carousel-outer m-b60">
                        <div class="welcome-bg-block clearfix">
                            <div class="welcome-carousel-1 ">
                                <div class="owl-carousel home-carousel-1 owl-btn-bottom-left">
                                    <!-- COLUMNS 1 -->
                                    <div class="item">
                                        <div class="ow-img">
                                            <a href="javascript:void(0);"><img src="./../../assets/images/welcome-slider/1.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <!-- COLUMNS 2 -->
                                    <div class="item">
                                        <div class="ow-img">
                                            <a href="javascript:void(0);"><img src="./../../assets/images/welcome-slider/2.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <!-- COLUMNS 3 -->
                                    <div class="item">
                                        <div class="owl-img">
                                            <a href="javascript:void(0);"><img src="./../../assets/images/welcome-slider/3.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <!-- COLUMNS 4 -->
                                    <div class="item">
                                        <div class="ow-img">
                                            <a href="javascript:void(0);"><img src="./../../assets/images/welcome-slider/4.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <!-- COLUMNS 5 -->
                                    <div class="item">
                                        <div class="ow-img">
                                            <a href="javascript:void(0);"><img src="./../../assets/images/welcome-slider/5.jpg" alt=""></a>
                                        </div>
                                    </div>
                               </div>
                            </div>                                 
                       </div>
                   </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <!-- TITLE START -->
                    <div class="section-head">
                        <div class="wt-separator-outer separator-left">
                            <div class="wt-separator">
                                <span class="text-primary text-uppercase sep-line-one ">Welcome</span>
                            </div>
                        </div>
                        <h2>It's Simpler <br> Than You Think</h2>
                    </div>
                    <!-- TITLE END -->                            
                    <p>LET'S WORK TOGETHER TO DESIGN A JOYFUL, COHESIVE, INSPIRING SPACE — ONE THAT'S A REFLECTION OF YOUR UNIQUE PERSONALITY, INTERESTS, AND DAY-TO-DAY NEEDS.</p>
                    <p>It is our passion to constantly pursue fresh inspiration. We continually search for the most compelling design styles and highest quality of materials available. Hours of extensive market research allow us to create each design specific to your target market. We take pride in our work ethic, our eye for innovative designs, and our commitment to our clients.</p>
                     <a href="javascript:void(0);" class="site-button m-t15 m-b15">Read More</a>
                </div>                            
            </div>
            
        </div>
    </div>
</div>  