<div class="page-wraper">
    <app-header></app-header>
    <router-outlet></router-outlet>
       
         <!--WHATSAPP FLOAT-->
         <app-whatsapp></app-whatsapp>
         <!--WHATSAPP FLOAT END-->
    <app-footer></app-footer>
    <button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>
</div>

<!-- LOADING AREA START ===== -->
<div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
        <div class="cssload-box-loading"></div>
    </div>
</div>
<!-- LOADING AREA  END ====== -->