        <!-- CONTENT START -->
        <div class="page-content">

            <!-- SLIDER START -->
            <div id="rev_slider_26_1_wrapper" class="rev_slider_wrapper fullscreen-container bg-primary"
                data-alias="mask-showcase" data-source="gallery" style="padding:0px;">
                <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
                <div id="rev_slider_26_1" class="rev_slider fullscreenbanner" style="display:none;"
                    data-version="5.4.1">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-73" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                            data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                            data-masterspeed="300" data-thumb="./../../assets/images/main-slider/slider3/image2.jpeg"
                            data-rotate="0" data-saveperformance="off" data-title="" data-param1="1" data-param2=""
                            data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                            data-param9="" data-param10="" data-description="">
                            <img src="./../../assets/images/main-slider/slider3/image2.jpeg" class="imageMain"
                                data-bgposition="right center" data-bgrepeat="no-repeat" data-bgparallax="10"
                                class="rev-slidebg" data-no-retina alt="">
                            <!-- LAYER NR. 1 [ for overlay ] -->
                            <div class="tp-caption tp-shape tp-shapewrapper " id="slide-73-layer-0"
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
                                data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[
                            {"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},
                            {"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}
                            ]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 5;background-color:rgba(0, 0, 0, 0.1);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                            </div>

                            <!-- LAYERS 1 border block-->
                            <div class="tp-caption rev-btn  tp-resizeme slider-block" id="slide-73-layer-1"
                                data-x="['left','left','left','center']" data-hoffset="['0','100','60','0']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
                                data-responsive_offset="on"
                                data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[250,250,250,200]"
                                data-paddingright="[250,150,150,150]" data-paddingbottom="[250,250,250,200]"
                                data-paddingleft="[250,150,150,150]" style="z-index: 8;">
                                <div class="rs-wave" data-speed="1" data-angle="0" data-radius="2px"></div>
                            </div>

                            <!-- LAYER 2 button -->
                            <div class="tp-caption rev-btn  tp-resizeme" id="slide-73-layer-2"
                                data-x="['left','left','left','center']" data-hoffset="['100','140','140','0']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','150']"
                                data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
                                data-responsive_offset="on"
                                data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"split":"chars","splitdelay":0.03,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power2.easeIn"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index:9; line-height:30px;"><a href="Javascript:;"
                                    class="btn-open test-slide-show text-white notification-animate site-button-secondry">Get Free Quote</a></div>

                            <div class="tp-caption rev-btn  tp-resizeme bg-primary " id="slide-73-layer-3"
                                data-x="['right','right','right','right']" data-hoffset="['870','570','370','870']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                data-width="full" data-height="full" data-whitespace="nowrap" data-type="button"
                                data-responsive_offset="on"
                                data-frames='[{"from":"y:[-0%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":0,"to":"o:1;","delay":0,"ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":0,"to":"y:[-0%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[250,250,250,200]"
                                data-paddingright="[250,150,150,150]" data-paddingbottom="[250,250,250,200]"
                                data-paddingleft="[250,150,150,150]" style="z-index: 6; width:6000px"></div>

                            <!-- LAYER 5 title-->
                            <div class="tp-caption   tp-resizeme slider-tag-line" id="slide-73-layer-5"
                                data-x="['left','left','left','center']" data-hoffset="['100','140','140','20']"
                                data-y="['middle','middle','middle','middle']"
                                data-voffset="['-177','-177','-177','-157']" data-width="none" data-height="none"
                                data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":300,"speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]"
                                data-paddingright="[20,20,20,20]" data-paddingbottom="[10,10,10,10]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 10; white-space: nowrap; font-size: 18px; line-height: 20px; font-weight: 400;font-family: 'Poppins', sans-serif; text-transform:uppercase">
                                Believe it, Before You See It. </div>

                            <!-- LAYER 6  tag line-->
                            <div class="tp-caption   tp-resizeme" id="slide-73-layer-6"
                                data-x="['left','left','left','center']" data-hoffset="['100','140','140','20']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','-20','-20']"
                                data-fontsize="['60','45','60','40']" data-lineheight="['70','60','70','50']"
                                data-width="['700','650','620','380']" data-height="none" data-whitespace="normal"
                                data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":200,"speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                                data-textAlign="['left','left','left','center']" data-paddingtop="[20,20,20,20]"
                                data-paddingright="[20,20,20,20]" data-paddingbottom="[30,30,30,30]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 10; white-space: normal;font-weight: 700; color: #ffffff;font-family: 'Martel', serif;">
                                RS<br> Interiors</div>
                        </li>

                        <!-- SLIDE  -->
                        <li data-index="rs-74" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                            data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                            data-masterspeed="300" data-thumb="./../../assets/images/main-slider/slider3/image9.jpg"
                            data-rotate="0" data-saveperformance="off" data-title="" data-param1="2" data-param2=""
                            data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                            data-param9="" data-param10="" data-description="">
                            <img src="./../../assets/images/main-slider/slider3/image9.jpg"
                                data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                                data-bgparallax="10" class="rev-slidebg" data-no-retina alt="">

                            <!-- LAYERS 1 border block-->
                            <div class="tp-caption rev-btn  tp-resizeme slider-block" id="slide-74-layer-1"
                                data-x="['left','left','left','center']" data-hoffset="['0','100','60','0']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
                                data-responsive_offset="on"
                                data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[250,250,250,200]"
                                data-paddingright="[250,150,150,150]" data-paddingbottom="[250,250,250,200]"
                                data-paddingleft="[250,150,150,150]" style="z-index: 8;">
                                <div class="rs-wave" data-speed="1" data-angle="0" data-radius="2px"></div>
                            </div>

                            <!-- LAYER NR. 1 [ for overlay ] -->
                            <div class="tp-caption tp-shape tp-shapewrapper " id="slide-74-layer-0"
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
                                data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[
                            {"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},
                            {"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}
                            ]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 5;background-color:rgba(0, 0, 0, 0.1);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                            </div>

                            <!-- LAYER 2 button -->
                            <div class="tp-caption rev-btn  tp-resizeme" id="slide-74-layer-2"
                                data-x="['left','left','left','center']" data-hoffset="['100','140','140','0']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','150']"
                                data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
                                data-responsive_offset="on"
                                data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"split":"chars","splitdelay":0.03,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power2.easeIn"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index:9; line-height:30px;"><a href="Javascript:;"
                                    class="btn-open test-slide-show text-white notification-animate site-button-secondry">Get Free Quote</a>
                                </div>

                            <div class="tp-caption rev-btn  tp-resizeme bg-primary" id="slide-74-layer-3 "
                                data-x="['right','right','right','right']" data-hoffset="['870','570','370','870']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                data-width="full" data-height="full" data-whitespace="nowrap" data-type="button"
                                data-responsive_offset="on"
                                data-frames='[{"from":"y:[-0%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":0,"to":"o:1;","delay":0,"ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":0,"to":"y:[-0%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[250,250,250,200]"
                                data-paddingright="[250,150,150,150]" data-paddingbottom="[250,250,250,200]"
                                data-paddingleft="[250,150,150,150]" style="z-index: 6; width:6000px"></div>

                            <!-- LAYER 5 title-->
                            <div class="tp-caption   tp-resizeme slider-tag-line" id="slide-74-layer-5"
                                data-x="['left','left','left','center']" data-hoffset="['100','140','140','20']"
                                data-y="['middle','middle','middle','middle']"
                                data-voffset="['-177','-177','-177','-157']" data-width="none" data-height="none"
                                data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":300,"speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]"
                                data-paddingright="[20,20,20,20]" data-paddingbottom="[10,10,10,10]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 10; white-space: nowrap; font-size: 18px; line-height: 20px; font-weight: 400;font-family: 'Poppins', sans-serif; text-transform:uppercase">
                                SIMPLE, BUT SIGNIFICANT</div>

                            <!-- LAYER 6  tag line-->
                            <div class="tp-caption   tp-resizeme" id="slide-74-layer-6"
                                data-x="['left','left','left','center']" data-hoffset="['100','140','140','20']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','-20','-20']"
                                data-fontsize="['60','45','60','40']" data-lineheight="['70','60','70','50']"
                                data-width="['700','650','620','380']" data-height="none" data-whitespace="normal"
                                data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":200,"speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                                data-textAlign="['left','left','left','center']" data-paddingtop="[20,20,20,20]"
                                data-paddingright="[20,20,20,20]" data-paddingbottom="[30,30,30,30]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 10; white-space: normal;font-weight: 700; color: #ffffff;font-family: 'Martel', serif;">
                                RS<br> INTERIORS</div>
                        </li>

                        <!-- SLIDE  -->
                        <li data-index="rs-75" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                            data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                            data-masterspeed="300" data-thumb="./../../assets/images/main-slider/slider3/image8.jpg"
                            data-rotate="0" data-saveperformance="off" data-title="" data-param1="3" data-param2=""
                            data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                            data-param9="" data-param10="" data-description="">
                            <img src="./../../assets/images/main-slider/slider3/image8.jpg"
                                data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                                data-bgparallax="10" class="rev-slidebg" data-no-retina alt="">

                            <!-- LAYER NR. 1 [ for overlay ] -->
                            <div class="tp-caption tp-shape tp-shapewrapper " id="slide-75-layer-0"
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
                                data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[
                            {"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},
                            {"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}
                            ]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 5;background-color:rgba(0, 0, 0, 0.1);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                            </div>

                            <!-- LAYERS 1 border block-->
                            <div class="tp-caption rev-btn  tp-resizeme slider-block" id="slide-75-layer-1"
                                data-x="['left','left','left','center']" data-hoffset="['0','100','60','0']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
                                data-responsive_offset="on"
                                data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[250,250,250,200]"
                                data-paddingright="[250,150,150,150]" data-paddingbottom="[250,250,250,200]"
                                data-paddingleft="[250,150,150,150]" style="z-index: 8;">
                                <div class="rs-wave" data-speed="1" data-angle="0" data-radius="2px"></div>
                            </div>

                            <!-- LAYER 2 button -->
                            <div class="tp-caption rev-btn  tp-resizeme" id="slide-75-layer-2"
                                data-x="['left','left','left','center']" data-hoffset="['100','140','140','0']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','150']"
                                data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
                                data-responsive_offset="on"
                                data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"split":"chars","splitdelay":0.03,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power2.easeIn"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index:9; line-height:30px;"><a href="Javascript:;"
                                    class="btn-open test-slide-show text-white notification-animate site-button-secondry">Get Free Quote</a>
                                </div>

                            <div class="tp-caption rev-btn  tp-resizeme bg-primary " id="slide-75-layer-3"
                                data-x="['right','right','right','right']" data-hoffset="['870','570','370','870']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                data-width="full" data-height="full" data-whitespace="nowrap" data-type="button"
                                data-responsive_offset="on"
                                data-frames='[{"from":"y:[-0%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":0,"to":"o:1;","delay":0,"ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":0,"to":"y:[-0%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[250,250,250,200]"
                                data-paddingright="[250,150,150,150]" data-paddingbottom="[250,250,250,200]"
                                data-paddingleft="[250,150,150,150]" style="z-index: 6; width:6000px"></div>

                            <!-- LAYER 5 title-->
                            <div class="tp-caption   tp-resizeme slider-tag-line" id="slide-75-layer-5"
                                data-x="['left','left','left','center']" data-hoffset="['100','140','140','20']"
                                data-y="['middle','middle','middle','middle']"
                                data-voffset="['-177','-177','-177','-157']" data-width="none" data-height="none"
                                data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":300,"speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]"
                                data-paddingright="[20,20,20,20]" data-paddingbottom="[10,10,10,10]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 10; white-space: nowrap; font-size: 18px; line-height: 20px; font-weight: 400;font-family: 'Poppins', sans-serif; text-transform:uppercase">
                                INSPIRED BY BEAUTIFUL INTERIORS </div>

                            <!-- LAYER 6  tag line-->
                            <div class="tp-caption   tp-resizeme" id="slide-75-layer-6"
                                data-x="['left','left','left','center']" data-hoffset="['100','140','140','20']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','-20','-20']"
                                data-fontsize="['60','45','60','40']" data-lineheight="['70','60','70','50']"
                                data-width="['700','650','620','380']" data-height="none" data-whitespace="normal"
                                data-type="text" data-responsive_offset="on"
                                data-frames='[{"delay":200,"speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                                data-textAlign="['left','left','left','center']" data-paddingtop="[20,20,20,20]"
                                data-paddingright="[20,20,20,20]" data-paddingbottom="[30,30,30,30]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 10; white-space: normal;font-weight: 700; color: #ffffff;font-family: 'Martel', serif;">
                                RS <br> INTERIORS </div>
                        </li>

                    </ul>
                    <div class="tp-bannertimer" style="height: 10px; background: rgba(0, 0, 0, 0.15);"></div>
                </div>
            </div>
            <!-- SLIDER END -->
            <!--WHATSAPP FLOAT-->
            <app-whatsapp></app-whatsapp>
            <!--WHATSAPP FLOAT END-->

            <!-- WELCOME SECTION START -->
            <div class="section-full p-tb80 bg-white">
                <div class="container">
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-7 col-sm-12">
                                <div class="welcome-carousel-outer m-b60">
                                    <div class="welcome-bg-block clearfix">
                                        <div class="welcome-carousel-1 ">
                                            <div class="owl-carousel home-carousel-1 owl-btn-bottom-left">
                                                <!-- COLUMNS 1 -->
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);"><img src="./../../assets/images/welcome-slider/1.jpg" alt=""></a>
                                                    </div>
                                                </div>
                                                <!-- COLUMNS 2 -->
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);"><img src="./../../assets/images/welcome-slider/2.jpg" alt=""></a>
                                                    </div>
                                                </div>
                                                <!-- COLUMNS 3 -->
                                                <div class="item">
                                                    <div class="owl-img">
                                                        <a href="javascript:void(0);"><img src="./../../assets/images/welcome-slider/3.jpg" alt=""></a>
                                                    </div>
                                                </div>
                                                <!-- COLUMNS 4 -->
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);"><img src="./../../assets/images/welcome-slider/4.jpg" alt=""></a>
                                                    </div>
                                                </div>
                                                <!-- COLUMNS 5 -->
                                                <div class="item">
                                                    <div class="ow-img">
                                                        <a href="javascript:void(0);"><img src="./../../assets/images/welcome-slider/5.jpg" alt=""></a>
                                                    </div>
                                                </div>
                                           </div>
                                        </div>                                 
                                   </div>
                               </div>
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <!-- TITLE START -->
                                <div class="section-head">
                                    <div class="wt-separator-outer separator-left">
                                        <div class="wt-separator">
                                            <span class="text-primary text-uppercase sep-line-one ">Welcome</span>
                                        </div>
                                    </div>
                                    <h2>It's Simpler <br> Than You Think</h2>
                                </div>
                                <!-- TITLE END -->                            
                                <p>LET'S WORK TOGETHER TO DESIGN A JOYFUL, COHESIVE, INSPIRING SPACE — ONE THAT'S A REFLECTION OF YOUR UNIQUE PERSONALITY, INTERESTS, AND DAY-TO-DAY NEEDS.</p>
                                <p>It is our passion to constantly pursue fresh inspiration. We continually search for the most compelling design styles and highest quality of materials available. Hours of extensive market research allow us to create each design specific to your target market. We take pride in our work ethic, our eye for innovative designs, and our commitment to our clients.</p>
                                 <a href="/about" class="site-button m-t15 m-b15">Read More</a>
                            </div>                            
                        </div>
                        
                    </div>
                </div>
            </div>  
            <!-- WELCOME SECTION end -->


            <!-- PROJECT SECTION START -->
            <div class="section-full p-t80 p-b20 bg-gray">
                <div class="container">
                    <!-- TITLE START -->
                    <div class="section-head text-center">
                        <div class="wt-separator-outer separator-center">
                            <div class="wt-separator">
                                <span class="text-primary text-uppercase sep-line-one ">Recently finished</span>
                            </div>
                        </div>
                        <h2>Our latest projects</h2>
                    </div>
                    <!-- TITLE END -->
                </div>
                <!-- IMAGE CAROUSEL START -->
                <div class="section-content">
                    <div class="owl-carousel owl-carousel-filter  owl-btn-bottom-center">
                        <!-- COLUMNS 1 -->
                        <div class="item" *ngFor="let image of images">
                            <div class="line-filter-outer bg-cover"
                                style="background-image:url({{image.imageUrl}});">
                                
                            </div>
                        </div>

                        <div class="item">
                            <div class="line-filter-outer bg-cover"
                                style="background-image:url(./../../assets/images/project/1.jpg);">
                                
                            </div>
                        </div>

                        <!-- COLUMNS 2 -->
                        <div class="item">
                            <div class="line-filter-outer bg-cover"
                                style="background-image:url(./../../assets/images/project/2.jpg);">
                                
                            </div>
                        </div>

                        <!-- COLUMNS 3 -->
                        <div class="item">
                            <div class="line-filter-outer bg-cover"
                                style="background-image:url(./../../assets/images/project/3.jpg);">
                                
                            </div>
                        </div>

                        <!-- COLUMNS 4 -->
                        <div class="item">
                            <div class="line-filter-outer bg-cover"
                                style="background-image:url(./../../assets/images/project/4.jpg);">
                               
                            </div>
                        </div>

                        <!-- COLUMNS 5 -->
                        <div class="item">
                            <div class="line-filter-outer bg-cover"
                                style="background-image:url(./../../assets/images/project/5.jpg);">
                             
                            </div>
                        </div>

                        <!-- COLUMNS 6 -->
                        <div class="item">
                            <div class="line-filter-outer bg-cover"
                                style="background-image:url(./../../assets/images/project/6.jpg);">
                            
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- PROJECT SECTION END -->

            <app-what-we-do></app-what-we-do>

            <!-- VIDEO SECTION START -->
            <div class="section-full bg-center bg-no-repeat bg-cover"
                style="background-image:url(./../../assets/images/background/bg-1.jpg);">
                <div class="container">
                    <div class="section-content">
                        <div class="video-section-full bg-white">
                            <span class="font-18 text-primary text-uppercase">Interior Desion</span>
                            <h4 class="wt-tilte m-tb20">We are architects, planners & designers out to change<br> the
                                world.</h4>
                            <!--<div class="video-section-content">
                                <div class="video-section-left">
                                    <a href="https://player.vimeo.com/video/34741214?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0"
                                        class="mfp-video play-now">
                                        <i class="icon fa fa-play"></i>
                                        <span class="ripple"></span>
                                    </a>
                                </div>
                                <div class="video-secion-right">
                                    <a href="https://player.vimeo.com/video/34741214?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0"
                                        class="mfp-video font-weight-600 text-uppercase">Play Video</a>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- VIDEO SECTION END -->

            <!-- OUR WORK CONTENT START -->
            <div class="section-full small-device  p-t80 p-b50 bg-white">
                <div class="container">
                    <!-- TITLE START -->
                    <div class="section-head text-center">
                        <div class="wt-separator-outer separator-center">
                            <div class="wt-separator">
                                <span class="text-primary text-uppercase sep-line-one ">Our Work gallery</span>
                            </div>
                        </div>
                        <h2>Our Work</h2>
                    </div>
                    <!-- TITLE END -->
                    <!-- PAGINATION START -->

                    <!-- PAGINATION END -->
                </div>
                <!-- GALLERY CONTENT START -->
                <div class="portfolio-wrap mfp-gallery work-grid clearfix">
                    <!-- COLUMNS 1 -->
                    <div class="stamp col-md-3 col-sm-6 m-b40">
                        <div class="bg-gray p-a30 p-b20 stamp-secion">
                            <h4 class="wt-tilte m-t0">We create Innovative design. exceptional designing for exceptional
                                Spaces</h4>
                            <p>We can help to inspire you with creative ideas for your home.we are very passionate about making your space even better than you would ever imagined it could be .
                                For every room in your home, you'll find the best modern design, enabling you to create your dream motif- your vision of what style and comfort should look like
                                We believe that art of interior design lies as much in paying close attention to customer's desires.</p>
                            <div class="filter-wrap">
                                <ul class="filter-navigation masonry-filter text-uppercase">
                                    <li class="active"><a data-filter="*" data-hover="All" href="#">All</a></li>
                                    <li><a data-filter=".cat-1" data-hover="Bathroom" href="javascript:;">Bathroom</a>
                                    </li>

                                    <li><a data-filter=".cat-2" data-hover="Furniture" href="javascript:;">Furniture</a>
                                    </li>
                                    <li><a data-filter=".cat-3" data-hover="Decor" href="javascript:;">Decor</a></li>
                                    <li><a data-filter=".cat-5" data-hover="Building" href="javascript:;">Building</a>
                                    </li>
                                    <li><a data-filter=".cat-6" data-hover="Living" href="javascript:;">Living </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- COLUMNS 2 -->
                    <div class="masonry-item  cat-3 col-md-3 col-sm-6 m-b30">
                        <div class="wt-box   work-hover-content">
                            <div class="wt-thum-bx img-center-icon">
                                <a href="javascript:;"><img src="./../../assets/images/our-work/s-1.jpg" alt=""></a>
                            </div>
                            <div class="wt-info  p-t20">
                                <h4 class="wt-tilte m-b10 m-t0"><a href="#">CHAIR & FURNITURE</a></h4>
                                <p class="m-b0"></p>
                            </div>
                        </div>
                    </div>
                    <!-- COLUMNS 3 -->
                    <div class="masonry-item  cat-2 col-md-3 col-sm-6 m-b30">
                        <div class="wt-box   work-hover-content">
                            <div class="wt-thum-bx img-center-icon">
                                <a href="javascript:;"><img src="./../../assets/images/our-work/s-2.jpg" alt=""></a>
                            </div>
                            <div class="wt-info  p-t20">
                                <h4 class="wt-tilte m-b10 m-t0"><a href="#">SOFA & CHAIRS</a></h4>
                                <p class="m-b0"></p>
                            </div>
                        </div>
                    </div>


                    <!-- COLUMNS 4 -->
                    <div class="masonry-item  cat-5 col-md-3 col-sm-6 m-b30">
                        <div class="wt-box   work-hover-content">
                            <div class="wt-thum-bx img-center-icon">
                                <a href="javascript:;"><img src="./../../assets/images/our-work/s-3.jpg" alt=""></a>
                            </div>
                            <div class="wt-info  p-t20">
                                <h4 class="wt-tilte m-b10 m-t0"><a href="#">BUILDING</a></h4>
                                <p class="m-b0"></p>
                            </div>
                        </div>
                    </div>
                    <!-- COLUMNS 5 -->
                    <div class="masonry-item  cat-6 col-md-3 col-sm-6 m-b30">
                        <div class="wt-box   work-hover-content">
                            <div class="wt-thum-bx img-center-icon">
                                <a href="javascript:;"><img src="./../../assets/images/our-work/s-4.jpg" alt=""></a>
                            </div>
                            <div class="wt-info  p-t20">
                                <h4 class="wt-tilte m-b10 m-t0"><a href="#">LIVING ROOM</a></h4>
                                <p class="m-b0"></p>
                            </div>
                        </div>
                    </div>
                    <!-- COLUMNS 6 -->
                    <div class="masonry-item  cat-1 col-md-3 col-sm-6 m-b30">
                        <div class="wt-box   work-hover-content">
                            <div class="wt-thum-bx  img-center-icon">
                                <a href="javascript:;"><img src="./../../assets/images/our-work/s-5.jpg" alt=""></a>
                            </div>
                            <div class="wt-info  p-t20">
                                <h4 class="wt-tilte m-b10 m-t0"><a href="#">BATHROOM</a></h4>
                                <p class="m-b0"></p>
                            </div>
                        </div>
                    </div>
                    <!-- COLUMNS 7 -->
                    <div class="masonry-item  cat-3 col-md-3 col-sm-6 m-b30">
                        <div class="wt-box   work-hover-content">
                            <div class="wt-thum-bx  img-center-icon">
                                <a href="javascript:;"><img src="./../../assets/images/our-work/s-6.jpg" alt=""></a>
                            </div>
                            <div class="wt-info  p-t20">
                                <h4 class="wt-tilte m-b10 m-t0"><a href="#">MODERN DECORATION</a></h4>
                                <p class="m-b0"></p>
                            </div>
                        </div>
                    </div>
                    <!-- COLUMNS 8 -->
                    <div class="masonry-item  cat-2 col-md-3 col-sm-6 m-b30">
                        <div class="wt-box   work-hover-content">
                            <div class="wt-thum-bx img-center-icon">
                                <a href="javascript:;"><img src="./../../assets/images/our-work/s-7.jpg" alt=""></a>
                            </div>
                            <div class="wt-info  p-t20">
                                <h4 class="wt-tilte m-b10 m-t0"><a href="#">SOFA</a></h4>
                                <p class="m-b0"></p>
                            </div>
                        </div>
                    </div>
                    <!-- COLUMNS 9 -->
                    <div class="masonry-item  cat-1 col-md-3 col-sm-6 m-b30">
                        <div class="wt-box   work-hover-content">
                            <div class="wt-thum-bx img-center-icon">
                                <a href="javascript:;"><img src="./../../assets/images/our-work/s-8.jpg" alt=""></a>
                            </div>
                            <div class="wt-info  p-t20">
                                <h4 class="wt-tilte m-b10 m-t0"><a href="#">BATHROOM</a></h4>
                                <p class="m-b0"></p>
                            </div>
                        </div>
                    </div>

                    <!-- COLUMNS 10 -->
                    <div class="masonry-item  cat-3 col-md-3 col-sm-6 m-b30">
                        <div class="wt-box   work-hover-content">
                            <div class="wt-thum-bx img-center-icon">
                                <a href="javascript:;"><img src="./../../assets/images/our-work/s-9.jpg" alt=""></a>
                            </div>
                            <div class="wt-info  p-t20">
                                <h4 class="wt-tilte m-b10 m-t0"><a href="#">LIVING ROOM</a></h4>
                                <p class="m-b0"></p>
                            </div>
                        </div>
                    </div>

                    <!-- COLUMNS 11 --
                    <div class="masonry-item  cat-3 col-md-3 col-sm-6 m-b30">
                        <div class="wt-box   work-hover-content">
                            <div class="wt-thum-bx img-center-icon">
                                <a href="javascript:;"><img src="./../../assets/images/our-work/s-10.jpg" alt=""></a>
                            </div>
                            <div class="wt-info  p-t20">
                                <h4 class="wt-tilte m-b10 m-t0"><a href="#">LAMP DECORATION</a></h4>
                                <p class="m-b0"></p>
                            </div>
                        </div>
                    </div>

                    <-- COLUMNS 11 -->
                   
                </div>
                <!-- GALLERY CONTENT END -->

            </div>
            <!-- OUR WORK CONTENT END  -->
            <a class="btn-open contact-slide-show text-white notification-animate">
                <div class="section-full small-device p-t80 p-b80 bg-white bg-repeat banner-footer" 
                style="background-image:url(./../../assets/images/banner/banner1.png);background-size: 100% 100%;background-repeat: no-repeat;">

           </div>
            </a>
           

            <!-- TESTIMONIAL SECTION START 
            <div class="section-full small-device  p-t80 p-b80 bg-white bg-repeat"
                style="background-image:url(./../../assets/images/background/ptn-1.png)">
                <div class="container">
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-7 m-b30">
                                <div class="owl-carousel testimonial-home owl-btn-top-right">
                                    <div class="item">
                                        <div class="testimonial-5">

                                            <div class="testimonial-text">
                                                <div class="testimonial-paragraph">
                                                    <span class="fa fa-quote-left text-primary"></span>
                                                    <p>There are many variations of passages of Lorem Ipsum available,
                                                        but the majority have suffered alteration in some form, by
                                                        injected humour, or rand omised words which don't look even
                                                        slightly believable.</p>
                                                </div>
                                            </div>
                                            <div class="clearfix">
                                                <div class="testimonial-detail clearfix">
                                                    <strong class="testimonial-name text-black">R.Lohitha Reddy</strong>
                                                    <span class="testimonial-position p-t5"></span>
                                                </div>
                                                <div class="testimonial-pic-block">
                                                    <div class="testimonial-pic">
                                                        <img src="./../../assets/images/testimonials/pic1.jpeg"
                                                            width="132" height="132" alt="">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimonial-5">

                                            <div class="testimonial-text">
                                                <div class="testimonial-paragraph">
                                                    <span class="fa fa-quote-left text-primary"></span>
                                                    <p>There are many variations of passages of Lorem Ipsum available,
                                                        but the majority have suffered alteration in some form, by
                                                        injected humour, or rand omised words which don't look even
                                                        slightly believable.</p>
                                                </div>
                                            </div>
                                            <div class="clearfix">
                                                <div class="testimonial-detail clearfix">
                                                    <strong class="testimonial-name text-black">R. Mohitha Reddy</strong>
                                                    <span class="testimonial-position p-t5"></span>
                                                </div>
                                                <div class="testimonial-pic-block">
                                                    <div class="testimonial-pic">
                                                        <img src="./../../assets/images/testimonials/pic2.jpeg"
                                                            width="132" height="132" alt="">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="counter-section-one">
                                    
                                
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            < TESTIMONIAL SECTION END -->


        </div>
        <!-- CONTENT END -->