<!DOCTYPE html>
<html lang="en">

<head>

    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="" />

    <!-- FAVICONS ICON -->
    <link rel="icon" href="./../../assets/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="./../../assets/images/favicon.png" />

    <!-- PAGE TITLE HERE -->
    <title>intoriza Template | Work masonry</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,800,800i,900"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Martel:200,300,400,600,700,800,900" rel="stylesheet">

</head>

<body id="bg">

    <div class="page-wraper">

        <!-- HEADER START -->
        <app-header></app-header>
        <!-- HEADER END -->

        <!-- CONTENT START -->
        <div class="page-content">
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center"
                style="background-image:url(./../../assets/images/banner/1.jpg);">
                <div class="overlay-main bg-black opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                        <div class="banner-title-outer">
                            <div class="banner-title-name">
                                <h2 class="text-white">Work Masonry</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->

                        <div>
                            <ul class="wt-breadcrumb breadcrumb-style-2">
                                <li><a href="javascript:void(0);">Home</a></li>
                                <li>Work Masonry</li>
                            </ul>
                        </div>

                        <!-- BREADCRUMB ROW END -->
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->

            <!-- SECTION CONTENT START -->
            <div class="section-full small-device p-t80 p-b50 bg-gray">

                <!-- GALLERY CONTENT START -->
                <div class="container">
                    <!-- GALLERY CONTENT START -->
                    <div class="portfolio-wrap mfp-gallery work-grid row clearfix">
                        <!-- COLUMNS 1 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box">
                                <div class="work-hover-grid">
                                    <img src="./../../assets/images/gallery/portrait-2/pic1.jpg" alt="" />
                                    <div class="work-hover-discription">
                                        <h4>Rooms & Halls</h4>
                                        <h5>Sultanate of Oman</h5>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 2 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box">
                                <div class="work-hover-grid">
                                    <img src="./../../assets/images/gallery/pic1.jpg" alt="" />
                                    <div class="work-hover-discription">
                                        <h4>Events and More</h4>
                                        <h5>Perth, Australia </h5>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 3 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box">
                                <div class="work-hover-grid">
                                    <img src="./../../assets/images/gallery/portrait-2/pic2.jpg" alt="" />
                                    <div class="work-hover-discription">
                                        <h4>To-Do Dashboard</h4>
                                        <h5>Aqaba, Jordan</h5>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 4 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box">
                                <div class="work-hover-grid">
                                    <img src="./../../assets/images/gallery/pic2.jpg" alt="" />
                                    <div class="work-hover-discription">
                                        <h4>Generic Apps</h4>
                                        <h5>Sultanate of Oman</h5>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 5 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box">
                                <div class="work-hover-grid">
                                    <img src="./../../assets/images/gallery/portrait-2/pic3.jpg" alt="" />
                                    <div class="work-hover-discription">
                                        <h4>WhereTO App</h4>
                                        <h5>Ultanate of Oman</h5>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 6 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box">
                                <div class="work-hover-grid">
                                    <img src="./../../assets/images/gallery/pic3.jpg" alt="" />
                                    <div class="work-hover-discription">
                                        <h4>Speed Detector</h4>
                                        <h5>Perth, Australia </h5>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 7 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box">
                                <div class="work-hover-grid">
                                    <img src="./../../assets/images/gallery/pic4.jpg" alt="" />
                                    <div class="work-hover-discription">
                                        <h4>Workout Buddy</h4>
                                        <h5>North House</h5>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 8 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box">
                                <div class="work-hover-grid">
                                    <img src="./../../assets/images/gallery/pic5.jpg" alt="" />
                                    <div class="work-hover-discription">
                                        <h4>Remind~Me More</h4>
                                        <h5>Aqaba, Jordan</h5>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 9 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box">
                                <div class="work-hover-grid">
                                    <img src="./../../assets/images/gallery/portrait-2/pic5.jpg" alt="" />
                                    <div class="work-hover-discription">
                                        <h4>Rooms & Halls</h4>
                                        <h5>Perth, Australia </h5>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 10 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box">
                                <div class="work-hover-grid">
                                    <img src="./../../assets/images/gallery/pic6.jpg" alt="" />
                                    <div class="work-hover-discription">
                                        <h4>Workout Buddy</h4>
                                        <h5>North House</h5>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 11 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box">
                                <div class="work-hover-grid">
                                    <img src="./../../assets/images/gallery/pic7.jpg" alt="" />
                                    <div class="work-hover-discription">
                                        <h4>Events and More</h4>
                                        <h5>Perth, Australia </h5>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 12 -->
                        <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                            <div class="wt-box">
                                <div class="work-hover-grid">
                                    <img src="./../../assets/images/gallery/pic8.jpg" alt="" />
                                    <div class="work-hover-discription">
                                        <h4>To-Do Dashboard</h4>
                                        <h5>Perth, Australia </h5>
                                    </div>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- GALLERY CONTENT END -->
                </div>
                <!-- GALLERY CONTENT END -->

            </div>
            <!-- SECTION CONTENT END  -->

        </div>
        <!-- CONTENT END -->

        <!--WHATSAPP FLOAT-->
        <app-whatsapp></app-whatsapp>
        <!--WHATSAPP FLOAT END-->
        
        <!-- FOOTER START -->
        <app-footer></app-footer>
        <!-- FOOTER END -->

        <!-- BUTTON TOP START -->
        <button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>

    </div>

    <!-- LOADING AREA START ===== -->
    <div class="loading-area">
        <div class="loading-box"></div>
        <div class="loading-pic">
            <div class="cssload-box-loading"></div>
        </div>
    </div>
    <!-- LOADING AREA  END ====== -->

    <!-- STYLE SWITCHER  ======= -->
    <div class="styleswitcher">

        <div class="switcher-btn-bx">
            <a class="switch-btn">
                <span class="fa fa-cog fa-spin"></span>
            </a>
        </div>

        <div class="styleswitcher-inner">

            <h6 class="switcher-title">Color Skin</h6>
            <ul class="color-skins">
                <li><a class="theme-skin skin-1" href="work-masonrya39b.html?theme=css/skin/skin-1"
                        title="default Theme"></a></li>
                <li><a class="theme-skin skin-2" href="work-masonry61e7.html?theme=css/skin/skin-2"
                        title="pink Theme"></a></li>
                <li><a class="theme-skin skin-3" href="work-masonrycce5.html?theme=css/skin/skin-3"
                        title="sky Theme"></a></li>
                <li><a class="theme-skin skin-4" href="work-masonry13f7.html?theme=css/skin/skin-4"
                        title="green Theme"></a></li>
                <li><a class="theme-skin skin-5" href="work-masonry19a6.html?theme=css/skin/skin-5"
                        title="red Theme"></a></li>
                <li><a class="theme-skin skin-6" href="work-masonryfe5c.html?theme=css/skin/skin-6"
                        title="orange Theme"></a></li>
            </ul>

        </div>
    </div>
    <!-- STYLE SWITCHER END ==== -->


</body>

</html>